:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --btn-contraste: #2e2e30;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    --text-color: rgb(255, 255, 255);
    font-size: 10px;
}

.navbar > a {
    font-weight: 700;
    padding: 3px 0.5rem;
    color: var(--text-color);
    font-size: 1.8rem;
    border-radius: 10px;
}

.icons > img {
    padding: 2px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.icons > img:hover {
    width: 35px;
    height: 35px;
}

/*----------------*/

div.container-flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 1200px;
    border-radius: 10px;
    background-color: var(--black);
}

div.image > img {
    border-radius: 10px;
}

/*----------------*/

div.container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px;
    gap: 30px;
    padding: 1rem;
    /* background-color: yellow; */
}

div.grid-itens {
    background-color: var(--black);
    border-radius: 10px;
}

div.grid-itens img {
    width: 100px;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
}

div.grid-itens > a {
    font-size: 2rem;
    height: 27px;
    padding-top: 1rem;
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}